<a href="https://colab.research.google.com/github/cs145442/nlp-projects-with-tf2/blob/master/sentiment_classification_with_keras.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
# add and unzip the dataset here
! ls
! wget http://nlp.stanford.edu/~socherr/stanfordSentimentTreebank.zip
! unzip stanfordSentimentTreebank.zip

__MACOSX  sample_data  stanfordSentimentTreebank  stanfordSentimentTreebank.zip
--2020-11-21 07:36:01--  http://nlp.stanford.edu/~socherr/stanfordSentimentTreebank.zip
Resolving nlp.stanford.edu (nlp.stanford.edu)... 171.64.67.140
Connecting to nlp.stanford.edu (nlp.stanford.edu)|171.64.67.140|:80... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://nlp.stanford.edu/~socherr/stanfordSentimentTreebank.zip [following]
--2020-11-21 07:36:01--  https://nlp.stanford.edu/~socherr/stanfordSentimentTreebank.zip
Connecting to nlp.stanford.edu (nlp.stanford.edu)|171.64.67.140|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 6372817 (6.1M) [application/zip]
Saving to: ‘stanfordSentimentTreebank.zip.1’

stanfordSentimentTr 100%[===================>]   6.08M  2.36MB/s    in 2.6s

2020-11-21 07:36:04 (2.36 MB/s) - ‘stanfordSentimentTreebank.zip.1’ saved [6372817/6372817]

Archive:  stanfordSentimentTreebank.zip
replace stanfordSentimentTreebank/datasetSentences.txt? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: stanfordSentimentTreebank/datasetSentences.txt
replace __MACOSX/stanfordSentimentTreebank/._datasetSentences.txt? [y]es, [n]o, [A]ll, [N]one, [r]ename: A
  inflating: __MACOSX/stanfordSentimentTreebank/._datasetSentences.txt
  inflating: stanfordSentimentTreebank/datasetSplit.txt
  inflating: __MACOSX/stanfordSentimentTreebank/._datasetSplit.txt
  inflating: stanfordSentimentTreebank/dictionary.txt
  inflating: __MACOSX/stanfordSentimentTreebank/._dictionary.txt
  inflating: stanfordSentimentTreebank/original_rt_snippets.txt
  inflating: __MACOSX/stanfordSentimentTreebank/._original_rt_snippets.txt
  inflating: stanfordSentimentTreebank/README.txt
  inflating: __MACOSX/stanfordSentimentTreebank/._README.txt
  inflating: stanfordSentimentTreebank/sentiment_labels.txt
  inflating: __MACOSX/stanfordSentimentTreebank/._sentiment_labels.txt
  inflating: stanfordSentimentTreebank/SOStr.txt
  inflating: stanfordSentimentTreebank/STree.txt

In [68]:
# ! cat stanfordSentimentTreebank/README.txt

In [10]:
# take a peek at the dataset format
! echo "----- contents of the treebank -------------------"
! ls stanfordSentimentTreebank
! echo "----- first 5 lines of dictionary.txt ------------"
! tail -n 5 stanfordSentimentTreebank/dictionary.txt
! echo "----- first 5 lines of sentiment_labels.txt ------"
! tail -n 5 stanfordSentimentTreebank/sentiment_labels.txt

----- contents of the treebank -------------------
datasetSentences.txt  dictionary.txt		README.txt	      SOStr.txt
datasetSplit.txt      original_rt_snippets.txt	sentiment_labels.txt  STree.txt
----- first 5 lines of dictionary.txt ------------
zoning ordinances to protect your community from the dullest science fiction|220441
zzzzzzzzz|179256
élan|220442
É|220443
É um passatempo descompromissado|220444
----- first 5 lines of sentiment_labels.txt ------
239227|0.36111
239228|0.38889
239229|0.33333
239230|0.88889
239231|0.5

In [2]:
# handle all the dependencies here
import pandas as pd

In [78]:
# reading the dataset
dataset_df = pd.read_csv('stanfordSentimentTreebank/dictionary.txt', sep='\n')
dataset_df.head()

                   !|0
0            ! '|22935
1           ! ''|18235
2        ! Alas|179257
3    ! Brilliant|22936
4  ! Brilliant !|40532

In [79]:
# formatting the dataframe for processing
dataset_df['phrase_text'] = dataset_df['!|0'].apply(lambda x: x.split('|')[0])
dataset_df['phrase_ids'] = dataset_df['!|0'].apply(lambda x: x.split('|')[1])
dataset_df = dataset_df.drop('!|0', axis=1)

In [72]:
# take a peek at the dataframe
dataset_df.tail()

                                              phrase_text phrase_ids
239226  zoning ordinances to protect your community fr...     220441
239227                                          zzzzzzzzz     179256
239228                                               élan     220442
239229                                                  É     220443
239230                   É um passatempo descompromissado     220444

In [69]:
# reading the sentiment data
sentiment_df = pd.read_csv('stanfordSentimentTreebank/sentiment_labels.txt', sep='\n')
sentiment_df.head()

  phrase ids|sentiment values
0                       0|0.5
1                       1|0.5
2                   2|0.44444
3                       3|0.5
4                   4|0.42708

In [80]:
sentiment_df['phrase_ids'] = sentiment_df['phrase ids|sentiment values'].apply(lambda x: x.split('|')[0])
sentiment_df['sentiment_values'] = sentiment_df['phrase ids|sentiment values'].apply(lambda x: x.split('|')[1])
sentiment_df = sentiment_df.drop('phrase ids|sentiment values', axis=1)

In [81]:
sentiment_df.head()

  phrase_ids sentiment_values
0          0              0.5
1          1              0.5
2          2          0.44444
3          3              0.5
4          4          0.42708